<%= render "shared/header"%>

<div class = "title-contents">
  <%= image_tag "fd401337.jpg",size: '100x200', class:"title-image" %>
  <h1 class = "service-title">
    新鮮な食材をご自宅にお届け
  </h1>
  <p class = "service-explain">
    生産者の顔がわかるから安心
  </p>
</div>

  
  

 